{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block new_css %}

<!-- <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>
 -->
<script type="text/javascript" src="{% static 'js/toc_handler.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/blog_like_styling.css' %}">

{% endblock %}

{% block content_1 %}
<!--     <button class="nav_element edit_button_blog" style="float: right;">Edit</button>
 -->
    {% if blog_author == user %}
        <a href="/edit/{{blog_id}}" class="nav_element" style="float: right; margin-top: 15px">Edit</a>
    {% endif %}
    {{ markdown_text|markdownify }}


{% endblock %}