{% extends 'base.html' %}
{% load static %}

{% block new_css %}<link rel="stylesheet" type="text/css" href="{% static 'css/file_upload_form_styling.css' %}">{% endblock %}


{% block content_1 %}
<h2 class="text_center">Upload Blog</h2>
<form method="post" enctype="multipart/form-data" class='form_file_upload'>
    {% csrf_token %}
        <label class="title_label">Title</label>
        <input type="text" name="title" class="title_input" required="" placeholder="input title">
        <label for="file" class='choose_file_label'>Choose file to upload</label>
        <input type="file" id="file" name="file" accept=".md" class="input_file" required="">
        <button class="input_button">Submit</button>
</form>
<h2 class="text_center">OR</h2>

<!-- <div class="write_one">
    <a href="{% url 'write_blog' %}">Write One!</a>
</div> -->

<a href="{% url 'write_blog' %}" class="write_one">Write one!</a>
{% endblock %}