* {
    margin: 0;
    padding: 0;
}
body {
    background: #def4f0;
}
.container {
    width: 20%;
    margin: auto;
    height: 40%;
    margin-top: 10%;
}

.box_one, input {
    background: #d4f3ef;

}

.box_one {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 20px;
}

input {
    padding-top: 10px;
    border-style: none;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    width: 100%;
}

.box_one label {
    padding: 0;
    margin: 0;
}

input:focus {
    border-style: none;
    border-bottom: 3px solid #82c4c3;
}

button {
    border: 1px solid black;
    width: 100%;
    background: inherit;
    padding: 10px;
    margin-left: 0px
}

button:hover {
    background: #82c4c3
}