:root {
    --background: #232946;
    --headline: #fffffe;
    --border: #121629;
    --button: #eebbc3;
}

* {
    padding: 0;
    margin: 0;
}

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

body {
    background-color: var(--background);
    color: var(--headline)
}

.anchor-headline {font-family: 'Antonio', sans-serif; color: var(--headline); font-weight: 900; text-decoration: none;}
.anchor-headline:hover { color: var(--button)}

.navbar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid var(--border);
    padding: 4px 10px;
}

/* Search bar */
.navbar input {
    background-color: var(--background);
    color: var(--headline);
    border-style: none;
    border-bottom: 2px solid var(--border);
    padding: 2px;
}

main {
    max-width: 54rem;
    width: 100%;
    margin: 3rem auto;
}