{% extends 'base.html' %}
{% load static %}

{% block new_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login-register.css' %}">

{% endblock %}

{% block content_1 %}
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <b><li{% if message.tags %} class="messages-{{ message.tags }}"{% endif %}>{{ message }}</li></b>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="box_one">
            <form method="POST" action="">
                {% csrf_token %}
                {{form}}
                <button>Login</button>
            </form>
        </div>
    </div>
{% endblock %}