{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap" rel="stylesheet"> -->
    {% block css %}{% endblock %}

</head>

<body>
    <div class="navbar">
        <a href="{% url 'Home' %}" class="anchor-headline">Piccolo</a>
        <input type="search" placeholder="Search..">
        {% if user.is_authenticated %}
        <a href="{% url 'UpBlog' %}" class="anchor-headline">New Post</a>
        <a href="{% url 'Profile' user.id %}" class="anchor-headline">Profile</a>
        <a href="{% url 'Logout' %}" class="anchor-headline">Logout</a>
        {% else %}
        <a href="{% url 'Register' %}" class="anchor-headline">Register</a>
        <a href="{% url 'Login' %}" class="anchor-headline">Login</a>
        {% endif %}
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <b>
            <li{% if message.tags %} class="messages-{{ message.tags }}" {% endif %}>{{ message }}</li>
        </b>
        {% endfor %}
    </ul>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2021 Piccolo</p>&nbsp;&nbsp;&nbsp;
        <p>Credits</p>&nbsp;&nbsp;
        <p>About</p>
    </footer>
</body>

</html>