{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block css %}{% endblock %}

</head>

<body>
    <div class="navbar">
        <a href="http://" target="_blank" rel="noopener noreferrer">Piccolo</a>
        <input type="search" placeholder="Search..">
        <a href="http://" target="_blank" rel="noopener noreferrer">Register</a>
        <a href="http://" target="_blank" rel="noopener noreferrer">Login</a>
    </div>
    {% block content %}{% endblock %}
</body>

</html>