{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">

{% endblock %}

{% block content %}

<article>
    <div>
        <h3>{{blog.title}}</h3>
        <ul class="post-header">
            <li>{{blog.creation_time}} /</li>&nbsp
            <li>
                {% for category in blog.categories.all %}
                <a href="#">{{category}}</a>
                {% endfor %}
                /
            </li>&nbsp
            <li><a href="{% url 'Profile' blog.author.id %}">Author {{blog.author}}</a></li>
        </ul>
    </div>
    <hr>
    <div class="content">
        {{blog.body|safe}}
    </div>
</article>

{% endblock %}