{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
<article>

    <ul class="post-list">
        <li>
            <div class="post">
                <ul class="post-header">
                    <li>20 May 2021 /</li>&nbsp
                    <li>
                        <a href="#">Python</a>
                        <a href="#">HTML</a>
                        /
                    </li>&nbsp
                    <li><a href="">Author Conra</a></li>
                </ul>
                <a href="#" class="anchor-headline">The problems of drinking too much water.</a>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deserunt dolores impedit officia
                    beatae. Non repudiandae saepe voluptatibus eum distinctio in sint assumenda consequatur beatae
                    soluta! Quae nemo rerum et.
                </p>
            </div>
            <hr>
        </li>
    </ul>


</article>
{% endblock %}