{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock %}

{% block content %}
<article>

    <div class="profile-data">
        <h2>{{requested_user}}</h2>
    </div>

    <hr>
    <ul class="post-list">
        {% for blog in page_obj %}
        <li>
            <div class="post">
                <ul class="post-header">
                    <li>{{blog.creation_time}} /</li>&nbsp
                    <li>
                        <a href="#">Python</a>
                        <a href="#">HTML</a>
                        /
                    </li>&nbsp
                    <li><a href="{% url 'Profile' blog.author.id %}">Author {{blog.author}} </a></li>&nbsp
                    {% if user.id == blog.author.id %}
                    /&nbsp
                    <li>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="del-btn" type="submit" name="delete" value="{{blog.id}}">Delete</button>
                        </form>
                    </li>
                    {% endif %}
                </ul>
                <a href="#" class="anchor-headline">{{blog.title}}</a>
                <p>
                    {{blog.synopsis}}
                </p>
            </div>
            <hr>
        </li>
        {% endfor %}
    </ul>


    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a class="anchor-headline" href="?page=1">&laquo; first</a>
            <a class="anchor-headline" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a class="anchor-headline" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="anchor-headline" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</article>
{% endblock %}