
.box_one {
    background: #74106E91;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 20px;
    margin-top: 4%;
}

input {
    padding-top: 10px;
    border-style: none;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    width: 100%;
    background: #74106E00;
}

.box_one label {
    padding: 0;
    margin: 0;
}

input:focus {
    border-style: none;
    border-bottom: 3px solid #3a133d;
}

button {
    font-family: 'Rec Mono Casual';
    border: 1px solid black;
    width: 100%;
    background: inherit;
    padding: 10px;
    margin-left: 0px
}

button:hover {
    color: #cb73d3;
    background: #3a133d;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .container {
        all: initial;
    }
    .box_one{
        all:initial;
    }
}

.helptext {
    display: none;
}